
body {
    background-color: #f4f6f9; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #333;
    margin: 0;
    padding: 0;
}


.post-container {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    padding: 20px;

}

.post-title {
    color: #1d3557; 
    margin-bottom: 30px;
}


.post-form {
    box-shadow: 3px 5px 5px 5px #355075 ;
    border: 1px solid  #1d3557;
 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
}


.post-form-group {
    margin-bottom: 20px;
 
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 10px;
    font-size: 16px;
    color: #333; 

}

.is-invalid {
    border-color: #dc3545; 
}

.invalid-feedback {
    display: block;
    color: #dc3545; 
    
}
.post-button,.post-cancel-button{
    background-color: #82a9d6;
  transform: translateY(-2px);
  margin-left: 10px;
}